
.p-5{
    max-width: 100%;
    background: #dd8020;
    display: block;    
    border-radius: 20px;
}

.input-group {
    font-family: Century Gothic;
}

.contato{
    width: 70%;
    height: 500px;
    font-family: Century Gothic;
    display: flexbox;
   
}

.form-floating{
margin-top: 10px;

}
.contato h1{
    text-align: center;
    font-family: Century Gothic;
}


