.container-fluid{
    background: #031634;
}

.container {
    width: 100%;
    height: AUTO;
}

.jub {
    max-width: 100%;
    background: #dd8020;
    display: block;    
    border-radius: 20px;
} 

.item3{
    display: flex;
   margin-left: 100px;
   height: 40px;
   
}
.item4{
    display: flex;
    margin-left: 30px;
    height: 40px;
}


.capa {
    width: 100%;
    height: auto;
    display: block;
}

.capa1 {
    width: 100%;
    object-fit: contain;
    height: 100%;
}


.footer {
    max-width: 100%;
    height: auto;
    background-color: #dd8020;
    margin-top: 20px;
    display: block;
    font-family: Century Gothic;
 
}


.primeiro{
    width: 150px;
    height: auto;
    text-align: center;
    color: #031634;
    margin: 50px;

}
.segundo {
width: 150px;
    height: auto;
    margin: 30px;
    color:#031634;

}
.terceira {
    width: 150px;
    height: auto;
    margin: 70px;
}